#mapId {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.map-controls {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 10px;
  width: 250px;
}

.map-controls input {
  width: 100%;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 8px;
  background-color: #222;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.marker-controls {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 250px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


