/* Usamos :host para aplicar estilos al componente */
:host {
  ion-content {
    --background: var(--ion-color-dark, #121212);
  }

  .full-height-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .app-logo {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 20px;
  }

  .input-list {
    background: transparent;
    margin-bottom: 20px;
  }

  .custom-input-item {
    --background: #1e1e1e;
    --border-radius: 10px;
    --border-color: #333;
    --highlight-color-focused: var(--ion-color-primary, #ff00ff);
    margin-bottom: 15px;
  }
  ion-label {
      color: #9e9e9e; 
    }

    ion-input {
      --color: #ff07f3; 
    }

  .login-button {
    --background: linear-gradient(to right, var(--ion-color-primary, #ff00ff), var(--ion-color-secondary, #00ffff));
    --box-shadow: 0 4px 15px rgba(255, 0, 255, 0.4);
    font-weight: bold;
    height: 50px;
    font-size: 1.1em;
    margin-top: 10px;
  }
  .app-icon {
    font-size: 100px; /* Tamaño del ícono */
    color: var(--ion-color-secondary, #00ffff); /* Color neón cian (o primary si prefieres el rosa) */
    margin-bottom: 30px;
  }

  .forgot-password {
    color: var(--ion-color-secondary, #00ffff);
    font-size: 0.9em;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .separator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 25px 0;
    
    span {
      color: #888;
      margin: 0 15px;
    }
    
    &::before, &::after {
      content: '';
      flex-grow: 1;
      border-bottom: 1px solid #333;
    }
  }

  .social-login-button {
    height: 50px;
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  .register-text {
    color: #ccc;
  }

  .text-primary {
    color: var(--ion-color-primary, #ff00ff);
    font-weight: bold;
    text-decoration: none;
  }
}