<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-grid class="full-height-grid">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      
      <ion-col size="12" size-md="8" size-lg="6">
        
        <div class="login-container ion-text-center">
          
          <ion-icon name="musical-notes" class="app-icon"></ion-icon>
          
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            
            <ion-list lines="none" class="input-list">
              
              <ion-item class="custom-input-item">
                <ion-label position="floating" color="light">Correo Electrónico</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              
              <ion-item class="custom-input-item">
                <ion-label position="floating" color="light">Contraseña</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              
            </ion-list>
            
            <ion-button type="submit" expand="block" shape="round" class="login-button" [disabled]="loginForm.invalid">
              Entrar
            </ion-button>
            
          </form>
          
          <p class="forgot-password">¿Olvidaste tu contraseña?</p>
          
          <div class="separator">
            <span>O</span>
          </div>
          
          <ion-button expand="block" fill="outline" shape="round" color="secondary" class="social-login-button">
            <ion-icon name="logo-google" slot="start"></ion-icon> Iniciar con Google
          </ion-button>
          
          <p class="register-text ion-margin-top">
            ¿No tienes una cuenta? <a routerLink="/signup" class="text-primary">Regístrate</a>
          </p>
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
